body {
  background-image: url("../src/component/img/fondoLF.jpg");
  background-size:contain; /* Ajusta el tamaño de la imagen al contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
}
